@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}
/* Styling the index.html */
.leakyCauldron{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#000;
    font-family: "East Sea Dokdo";   
}

video{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity:0.8;
    z-index: -1;
}
time{
    font-size: 9em;
    transition: 1s;
}
h1{
    display:none;
    font-size: 10em;
    transform: translateY(5em);
    transition: 1s;
}
.glass{
    width:50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.5em;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    cursor:pointer;
}
.glass:hover h1{
    display: block;
    transform:translateY(0);
}

.glass:hover time{
    font-size: 4em;
}
/* Styling the brickwall of the alley */
.container{
    position: relative;
    overflow: hidden;
    height: 100vh;
    animation: animate 4s linear infinite;
    z-index: 2;
}
@keyframes animate {
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}
.row{
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}
.row:nth-child(even){
        margin-left: 1px;;
}
.hexagon{
    position:relative;
    width:100px;
    height: 110px;
    background: #111;
    clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
    margin: 1px;
    transition: 0s;
}
.hexagon:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background:rgba(255, 255, 255, 0.02);
}
.hexagon:hover{
    transition: 0s;
    background-color: #0f0;
}
#cursor{
    background-color: #0f0;
    position:absolute;
    left:0;
    top:0;
    height:400px;
    width: 400px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: animate 4s linear infinite;
    z-index: 1;
}
.overlay{
    background-color: rgb(255, 115, 0);
    position:absolute;
    left:50%;
    top:50%;
    height:400px;
    width: 400px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: animate 4s linear infinite;
    z-index: 1;
}

@media (max-width:770px){
    #cursor{
        display:none;
    }
    h1{
        font-size: 6rem;
    }
}
